# Godot editor cache
.godot/
import/
*.translation
*.import
*.md5
*.meta

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
Thumbs.db
.DS_Store

# Old project copies
ssz/
SeekDeadLocal/
System Volume Information/

# Asset source packs
Pixel Crawler - Free Pack 2.09/
Pixel Crawler - Free Pack 2.09.zip

# Temp room builder scene
roombuild.tscn

# WorkBuddy project memory (do not commit)
.workbuddy/

# Asset source packs
kenney_tiny-dungeon*
